<h1>DETAILS STUDENTS</h1>
<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @student.name %>
	<br/>
	<strong>Gender:</strong>
	<%= @student.gender %>
	<br/>
	<strong>Grade:</strong>
	<%= @student.grade.name %>
	<br/>
</p>
