<h1>DETAILS subjects</h1>
<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @subjects.name %>
	<br/>
	<strong>Gender:</strong>
	<%= @subjects.gender %>
	<br/>
	<strong>Grade:</strong>
	<%= @subjects.grade.name %>
	<br/>
</p>
